
html {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: subpixel-antialiased;
}

body {
    margin: 0;
    padding: 0;
    font-family: helvetica, arial,freesans,clean,sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background-color: #f9f9f9;
    text-shadow: none;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

header {
    background-color: #2d618c;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(30%,#3776ab),color-stop(95%,#2d618c));
    background-image: -webkit-linear-gradient(#3776ab 30%,#2d618c 95%);
    background-image: -moz-linear-gradient(#3776ab 30%,#2d618c 95%);
    background-image: -o-linear-gradient(#3776ab 30%,#2d618c 95%);
    background-image: linear-gradient(#3776ab 30%,#2d618c 95%);
    border-bottom: 1px solid #18334b;
    height: 48px;
    padding: 0;
    margin: 0;
    clear: both;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

header .right {
    text-align: right;
    padding: 8px 30px;
}

header a {
    color: #e6e8ea;
    text-align: center;
    letter-spacing: .01em;
    text-decoration: none;
    font-size: 100%;
    vertical-align: baseline;
    font-weight: bold;
    cursor: auto;
    display: inline-block;
    margin-right: 25px;
}

header a:hover {
    color: white;
}

#logout {
    display: inline-block;
}

.btn {
    position: relative;
    cursor: pointer;
    font-weight: bold;
    /* TODO: not sure about this */
    padding: .4em .75em .35em;
    white-space: nowrap;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.yellow-btn {
    background-color: #ffd343;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(10%,#ffdf76),color-stop(90%,#ffd343));
    background-image: -webkit-linear-gradient(#ffdf76 10%,#ffd343 90%);
    background-image: -moz-linear-gradient(#ffdf76 10%,#ffd343 90%);
    background-image: -o-linear-gradient(#ffdf76 10%,#ffd343 90%);
    background-image: linear-gradient(#ffdf76 10%,#ffd343 90%);
    border: 1px solid #dca900;
    color: #4d4d4d!important;
}

.yellow-btn:hover {
    color: #1a1a1a!important;
    background-color: #ffd343;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(10%,#ffeba9),color-stop(90%,#ffd343));
    background-image: -webkit-linear-gradient(#ffeba9 10%,#ffd343 90%);
    background-image: -moz-linear-gradient(#ffeba9 10%,#ffd343 90%);
    background-image: -o-linear-gradient(#ffeba9 10%,#ffd343 90%);
    background-image: linear-gradient(#ffeba9 10%,#ffd343 90%);
}

.red-btn {
    color: #900;
    text-shadow: 0 1px 0 rgba(255,255,255,0.9);
    background-color: #efefef;
    background-image: -moz-linear-gradient(#fefefe, #efefef);
    background-image: -webkit-linear-gradient(#fefefe, #efefef);
    background-image: linear-gradient(#fefefe, #efefef);
    background-repeat: repeat-x;
    border: 1px solid #d5d5d5;
}

.red-btn:hover {
    color: #fff;
    text-shadow: 0px -1px 0 rgba(0,0,0,0.3);
    background-color: #b33630;
    background-image: -moz-linear-gradient(#dc5f59, #b33630);
    background-image: -webkit-linear-gradient(#dc5f59, #b33630);
    background-image: linear-gradient(#dc5f59, #b33630);
    background-repeat: repeat-x;
    border: 1px solid #cd504a;
}

.dialog {
    width: 400px;
    margin: 60px auto;
}

.dialog .dialog-header {
    position: relative;
    padding: 10px 20px;
    margin: 0;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    background-color: #2d618c;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(30%,#3776ab),color-stop(95%,#2d618c));
    background-image: -webkit-linear-gradient(#3776ab 30%,#2d618c 95%);
    background-image: -moz-linear-gradient(#3776ab 30%,#2d618c 95%);
    background-image: -o-linear-gradient(#3776ab 30%,#2d618c 95%);
    background-image: linear-gradient(#3776ab 30%,#2d618c 95%);
    border-bottom: 1px solid #18334b;
    background-repeat: repeat-x;
    border: 1px solid #586873;
    border-bottom-color: #586873;
    border-radius: 4px 4px 0 0;
}

.dialog .dialog-body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 20px;
    padding-bottom: 10px;
    font-size: 14px;
    background-color: white;
    border: 1px solid #A7ADB1;
    border-top-color: white;
    border-radius: 0 0 4px 4px;
    color: #333333;
}

.dialog .text {
    min-height: 34px;
    padding-left: 10px;
    outline: none;
    color: #333;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    vertical-align: middle;
    font-size: 13px;
    display: block;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.dialog .text:hover {
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9!important;
}

.dialog .btn {
    float: right;
    margin-top: 5px;
}

.dialog .clearout {
    clear: both;
}

.dialog .dialog-body-text {
    padding-bottom: 20px;
}

.dialog .dialog-body-text a {
    color: #1F1FE0;
    text-decoration: none;
}

.dialog .dialog-body-text a:hover {
    text-decoration: underline;
}

.dialog .dialog-body a:visited {
    color: #1F1FE0
}

